.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #1717174d;
  font-size: 14px;
  margin-bottom: 20px;
}

.or-divider::before,
.or-divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #d1d5db;
}

.or-divider::before {
  margin-right: 10px;
}

.or-divider::after {
  margin-left: 10px;
}
