.stepper {
  display: flex;
  flex-direction: column;
  width: full;
}

.step {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #aaaaaa;
  transition: color 0.4s ease;
}

.step.active {
  color: #2e790e;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #aaaaaa;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: background 0.4s ease;
}

.step.active .circle {
  background: #2e790e;
}

.line {
  width: 2px;
  height: 50px;
  background: #171717;
  opacity: 0.4;
  margin-left: 19px;
  margin-block: 5px;
}

@media (max-width: 768px) {
  .stepper {
    flex-direction: row;
    justify-content: center;
  }

  .step {
    flex-direction: column;
    gap: 7px;
    align-items: center;
  }

  .line {
    width: 40px;
    height: 2px;
    margin: 0;
    margin-top: 20px;
  }
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #1717174d;
  font-size: 14px;
  margin-bottom: 20px;
}

.or-divider::before,
.or-divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #d1d5db;
}

.or-divider::before {
  margin-right: 10px;
}

.or-divider::after {
  margin-left: 10px;
}

.otp-input {
  width: 85px;
  height: 77px;
  text-align: center;
  font-size: 24px;
  background-color: #f5f5f5;
  border-radius: 6px;
}

.otp-input::-webkit-outer-spin-button,
.otp-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
