<section class="grid grid-cols-1 md:grid-cols-2">
  <div class="bg-[#E3E8E1] min-h-[45svh] md:min-h-screen flex flex-col items-center justify-center">
    <div>
      <h1 class="text-4xl sm:text-5xl mb-5 text-center md:text-left text-[#171717] tracking-tight">
        Create an account
      </h1>
      <div class="stepper mx-2.5 md:mx-0">
        @for (step of steps; track $index) {
          <div
            class="step flex flex-col md:flex-row text-center px-0"
            [class.active]="currentStep >= $index + 1"
          >
            <span class="circle">{{ $index + 1 }}</span>
            <p class="text-[15px] md:text-2xl leading-5">{{ step }}</p>
          </div>

          @if ($index < steps.length - 1) {
            <div class="line"></div>
          }
        }
      </div>
    </div>
  </div>
  <div
    class="relative bg-white min-h-[55svh] md:min-h-screen flex flex-col items-center justify-center"
  >
    @if (currentStep === 1) {
      <div class="max-w-85 w-full z-50">
        <button
          class="bg-[#2E790E] rounded-lg p-3.75 hover:opacity-80 transition-opacity duration-200 ease-in text-white w-full flex items-center justify-center gap-2.5 mb-6.5 disabled:opacity-60 disabled:cursor-not-allowed"
          [disabled]="
            (signupService.isSubmitting$ | async) || (signupService.signingWithGoogle$ | async)
          "
          [class.cursor-not-allowed]="
            (signupService.isSubmitting$ | async) || (signupService.signingWithGoogle$ | async)
          "
          (click)="signInWithGoogle()"
        >
          @if (signupService.signingWithGoogle$ | async) {
            <div class="loader"></div>
          } @else {
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.6 10.2273C19.6 9.51819 19.5364 8.83639 19.4182 8.18179H10V12.05H15.3818C15.15 13.3 14.4455 14.3591 13.3864 15.0682V17.5773H16.6182C18.5091 15.8364 19.6 13.2727 19.6 10.2273Z"
                fill="white"
              />
              <path
                d="M10 20C12.7 20 14.9636 19.1045 16.6181 17.5773L13.3863 15.0682C12.4909 15.6682 11.3454 16.0227 10 16.0227C7.3954 16.0227 5.1909 14.2636 4.4045 11.9H1.0636V14.4909C2.7091 17.7591 6.0909 20 10 20Z"
                fill="white"
              />
              <path
                d="M4.4045 11.9C4.2045 11.3 4.0909 10.6591 4.0909 9.99999C4.0909 9.34089 4.2045 8.69999 4.4045 8.09999V5.50909H1.0636C0.3864 6.85909 0 8.38639 0 9.99999C0 11.6136 0.3864 13.1409 1.0636 14.4909L4.4045 11.9Z"
                fill="white"
              />
              <path
                d="M10 3.9773C11.4681 3.9773 12.7863 4.4818 13.8227 5.4727L16.6909 2.6045C14.9591 0.9909 12.6954 0 10 0C6.0909 0 2.7091 2.2409 1.0636 5.5091L4.4045 8.1C5.1909 5.7364 7.3954 3.9773 10 3.9773Z"
                fill="white"
              />
            </svg>
          }
          {{
            (signupService.signingWithGoogle$ | async) ? 'Redirecting...' : 'Continue with Google'
          }}
        </button>
        <div class="or-divider">
          <span class="text-xl text-[#1717174D]">or</span>
        </div>

        <div class="w-full">
          <form [formGroup]="emailForm">
            <label for="email" hidden>Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter your email"
              formControlName="email"
              autocomplete="off"
              class="block w-full border border-[#17171799] rounded-md py-3 px-5 placeholder:text-[#17171733]"
            />

            <app-input-error-message
              [control]="emailForm.controls.email"
              [messages]="{
                required: 'Email is required',
                pattern: 'Invalid email (e.g., user@domain.com)',
              }"
            />

            <button
              type="button"
              [disabled]="emailForm.invalid || (signupService.isSubmitting$ | async)"
              class="bg-[#171717] hover:opacity-80 transition-opacity duration-200 ease-in p-3.75 text-white w-full mt-5 rounded-lg disabled:opacity-60 disabled:cursor-not-allowed flex items-center justify-center gap-2"
              [class.cursor-not-allowed]="
                emailForm.invalid || (signupService.isSubmitting$ | async)
              "
              (click)="submitEmailForOtp()"
            >
              @if (signupService.isSubmitting$ | async) {
                <div class="loader"></div>
              }
              {{
                (signupService.isSubmitting$ | async) ? 'Sending Code...' : ' Continue with Email'
              }}
            </button>
          </form>
        </div>
      </div>
    }
    @if (currentStep === 2) {
      <div class="sm:max-w-[90%] w-[90%] z-50">
        <p class="text-center md:text-lg text-[#AAAAAA] tracking-tight mb-10 sm:mb-12.5">
          Enter the verification code sent to {{ emailForm.value.email }}
        </p>
        <form [formGroup]="otpForm" class="flex items-center justify-center flex-col">
          <div class="flex gap-2 md:gap-3 mb-6 max-w-125">
            @for (ctrl of otpControls; track $index) {
              <input
                #otpInput
                type="text"
                inputmode="numeric"
                autocomplete="one-time-code"
                maxlength="1"
                class="otp-input"
                [formControlName]="ctrl"
                (focus)="moveCursorToEnd($event)"
                (click)="moveCursorToEnd($event)"
                (input)="onOtpInput($event, $index)"
                (keydown)="onKeyDown($event, $index)"
                (paste)="onOtpPaste($event)"
              />
            }
          </div>

          <div class="flex max-w-125 w-full items-center justify-between text-[17px] md:text-xl">
            <span class="text-[#E23F3F]">
              {{ countdown$ | async }}
            </span>

            <p class="text-[#171717]">
              Didn’t get the code?
              <button
                class="cursor-pointer"
                [disabled]="!(canResend$ | async) || (signupService.isResending$ | async)"
                [class.text-gray-400]="
                  !(canResend$ | async) || (signupService.isResending$ | async)
                "
                [class.pointer-events-none]="
                  !(canResend$ | async) || (signupService.isResending$ | async)
                "
                [class.text-[#2E790E]]="canResend$ | async"
                (click)="resendOtp()"
              >
                {{ (signupService.isResending$ | async) ? 'Resending...' : 'Resend' }}
              </button>
            </p>
          </div>

          <button
            type="button"
            [disabled]="otpForm.invalid || (signupService.isSubmitting$ | async)"
            class="md:max-w-85 max-w-125 w-full bg-[#171717] hover:opacity-80 transition-opacity duration-200 ease-in p-3.75 text-white mt-5.5 rounded-lg disabled:cursor-not-allowed disabled:opacity-60 flex items-center justify-center gap-2"
            [class.cursor-not-allowed]="otpForm.invalid || (signupService.isSubmitting$ | async)"
            (click)="verifyOtpCode()"
          >
            @if (signupService.isSubmitting$ | async) {
              <div class="loader"></div>
            }
            {{ (signupService.isSubmitting$ | async) ? 'Verifying Email...' : 'Verify Email' }}
          </button>
        </form>
      </div>
    }
    @if (currentStep === 3) {
      <div class="max-w-85 w-full z-50">
        <div class="w-full">
          <form [formGroup]="personalForm">
            <label for="firstName" hidden>First Name</label>
            <input
              type="text"
              id="firstName"
              name="firstName"
              placeholder="Enter your First Name"
              autocomplete="off"
              formControlName="firstName"
              class="block w-full border border-[#17171799] rounded-md py-3 px-5 placeholder:text-[#17171733] mb-5"
            />

            <label for="lastName" hidden>Last Name</label>
            <input
              type="text"
              id="lastName"
              name="lastName"
              placeholder="Enter your Last Name"
              autocomplete="off"
              formControlName="lastName"
              class="block w-full border border-[#17171799] rounded-md py-3 px-5 placeholder:text-[#17171733] mb-5"
            />

            <label for="phoneNumber" hidden>Phone Number</label>
            <input
              type="tel"
              id="phoneNumber"
              name="phoneNumber"
              placeholder="Enter your Phone Number"
              autocomplete="off"
              formControlName="phoneNumber"
              (input)="formatPhoneNumber()"
              class="block w-full border border-[#17171799] rounded-md py-3 px-5 placeholder:text-[#17171733]"
            />

            <app-input-error-message
              [control]="personalForm.controls.phoneNumber"
              [messages]="{
                required: 'Phone number is required',
                pattern: 'Invalid phone number (e.g., +233 245 678 901)',
              }"
            />

            <button
              type="button"
              [disabled]="personalForm.invalid"
              class="bg-[#171717] hover:opacity-80 transition-opacity duration-200 ease-in p-3.75 text-white w-full mt-5 rounded-lg disabled:cursor-not-allowed disabled:opacity-60"
              [class.cursor-not-allowed]="personalForm.invalid"
              (click)="nextStep()"
            >
              Continue
            </button>
          </form>
        </div>
      </div>
    }
    @if (currentStep === 4) {
      <div class="max-w-85 w-full z-50">
        <div class="w-full">
          <form [formGroup]="passwordForm">
            <label for="password" hidden>Password</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Create a Password"
              formControlName="password"
              class="block w-full border border-[#17171799] rounded-md py-3 px-5 placeholder:text-[#17171733]"
            />

            <app-input-error-message
              [control]="passwordForm.controls.password"
              [messages]="{
                required: 'Password is required',
                minlength: 'Password must be 6+ characters',
              }"
            />

            <label for="confirmPassword" hidden>Confirm Password</label>
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm your Password"
              formControlName="confirmPassword"
              class="block w-full border border-[#17171799] rounded-md py-3 px-5 placeholder:text-[#17171733] mt-5"
            />

            <app-input-error-message
              [control]="passwordForm.controls.confirmPassword"
              [messages]="{
                required: 'Confirm password is required',
                mismatch: 'Passwords do not match',
              }"
            />

            <button
              type="button"
              [disabled]="passwordForm.invalid || (signupService.isSubmitting$ | async)"
              class="bg-[#171717] hover:opacity-80 transition-opacity duration-200 ease-in p-3.75 text-white w-full mt-5 rounded-lg disabled:cursor-not-allowed disabled:opacity-60 flex items-center justify-center gap-2"
              [class.cursor-not-allowed]="
                passwordForm.invalid || (signupService.isSubmitting$ | async)
              "
              (click)="registerCustomer()"
            >
              @if (signupService.isSubmitting$ | async) {
                <div class="loader"></div>
              }
              {{ (signupService.isSubmitting$ | async) ? 'Creating Account...' : 'Create Account' }}
            </button>
          </form>
        </div>
      </div>
    }
    <p
      class="absolute bottom-7 md:bottom-auto md:top-14.5 text-center lg:right-12.5 text-[17px] md:text-xl z-10 px-4"
    >
      Already have an account?
      <a class="text-[#2E790E] py-3 px-3" routerLink="/login">Log In</a>
    </p>
  </div>
</section>
