<section #header
  [class]="'fixed top-0 left-0 right-0 z-50 py-6 transition-colors duration-300 ' + (transparent && !isScrolled ? 'bg-transparent' : 'bg-white')">
  <div class="max-w-310 mx-auto px-5 md:px-12 2xl:px-0 flex items-center justify-between">

    <div class="flex items-center gap-4">
      <button (click)="openMenu()"
        class="lg:hidden p-1.5 -ml-1.5 rounded-lg transition-colors duration-150 text-gray-700 hover:text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          [attr.stroke]="transparent && !isScrolled ? '#ffffff' : '#374151'" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu">
          <path d="M4 5h16" />
          <path d="M4 12h16" />
          <path d="M4 19h16" />
        </svg>
      </button>

      <a routerLink="/"
        [class]="'logo text-[25px] sm:text-[32px] transition-colors duration-300 w-fit ' + (transparent && !isScrolled ? 'text-white' : 'text-[#171717]')">
        trademall
      </a>
    </div>

    <nav class="hidden lg:block">
      <ol class="flex items-center justify-center gap-5">
        @for(desktopMenuItem of desktopMenuItems; track desktopMenuItem.label){
        <li class="px-3.5 py-2">
          <a [routerLink]="desktopMenuItem.url"
            [class]="'relative inline-block text-[17px] transition-colors duration-300 group hover:text-[#171717] ' + (transparent && !isScrolled ? 'text-white' : 'text-[#374151]')">
            {{desktopMenuItem.label}}
            <span
              [class]="'absolute left-1/2 -translate-x-1/2 -bottom-1 h-0.5 w-0 group-hover:w-full transition-all duration-300 ease-out ' + (transparent && !isScrolled ? 'bg-white' : 'bg-[#374151]')"></span>
          </a>
        </li>
        }
      </ol>
    </nav>

    <div class="flex items-center gap-8 mr-4 lg:mr-0">
      <form>
        <div class="hidden lg:block relative">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
            [attr.stroke]="transparent && !isScrolled ? '#ffffff' : '#9CA3AF'" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-search-icon lucide-search absolute left-3 top-1/2 -translate-y-1/2">
            <path d="m21 21-4.34-4.34" />
            <circle cx="11" cy="11" r="8" />
          </svg>
          <input type="text" placeholder="Search products..."
            [class]="'w-75 pl-10 pr-4 py-2 border-2 rounded-lg transition-all text-sm placeholder:text-[15px] ' + (transparent && !isScrolled ? 'border-white/40 bg-white/10 text-white placeholder-transparent-header' : 'border-gray-300 bg-white text-[#171717] placeholder-solid-header')" />
        </div>
      </form>

      <div class="relative block lg:hidden mr-6 cursor-pointer" (click)="openModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          [attr.stroke]="transparent && !isScrolled ? '#ffffff' : '#374151'" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-search-icon lucide-search absolute left-3 top-1/2 -translate-y-1/2 transition-colors duration-300">
          <path d="m21 21-4.34-4.34" />
          <circle cx="11" cy="11" r="8" />
        </svg>
      </div>

      <a routerLink="/cart" class="relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
          [attr.stroke]="transparent && !isScrolled ? '#ffffff' : '#374151'" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" class="lucide lucide-shopping-cart-icon lucide-shopping-cart">
          <circle cx="8" cy="21" r="1" />
          <circle cx="19" cy="21" r="1" />
          <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12" />
        </svg>

        @if (cartItemCount >= 0) {
        <span
          [class]="'absolute -top-2 -right-3 text-[11px] w-5 h-5 rounded-full flex items-center justify-center transition-colors duration-300 ' + (transparent && !isScrolled ? 'bg-white text-[#374151]' : 'bg-[#374151] text-white')">
          {{ cartItemCount > 99 ? '99+' : cartItemCount }}
        </span>
        }
      </a>

      @if (!sessionLoaded) {
      <div class="hidden lg:block lg:w-21.25 lg:h-12 skeleton-shimmer rounded-md"></div>
      } @else if (!isLoggedIn) {
      <div class="lg:flex items-center justify-center gap-8.5 hidden">
        <a routerLink="/login"
          [class]="'text-[15px] sm:text-[16px] px-5 py-3 transition-opacity duration-150 ease-in rounded-lg text-nowrap ' + (transparent && !isScrolled ? 'bg-white text-[#171717] hover:opacity-80' : 'bg-[#171717] text-white hover:opacity-80')">Log
          In</a>
      </div>
      } @else {
      <div class="hidden lg:flex items-center justify-center lg:gap-10">
        <div class="relative inline-block" #dropdownRef (click)="$event.stopPropagation()">
          <div
            [class]="'cursor-pointer initials w-11 h-11 rounded-full flex items-center justify-center text-lg transition-colors duration-300 ' + (transparent && !isScrolled ? 'bg-white text-[#171717]' : 'bg-[#171717] text-white')"
            (click)="toggleDropdown($event)">
            {{ userInitials }}
          </div>

          @if (isDropdownOpen) {
          <div [@fadeInOut] appClickOutside (clickOutside)="closeDropdown()"
            class="absolute flex flex-col gap-1 top-full right-0 px-3 py-5 mt-2 w-50 rounded-[20px] bg-[#FAF7F2] border border-[#E8DFD0] text-[14px] z-50">
            @if (user.userType === 'customer') {
            @for (item of customerDropdown; track item.label) {
            <a [routerLink]="item.url" (click)="closeDropdown()"
              class="px-3.5 py-1.5 text-lg rounded-lg hover:bg-[#F0E8D8] transition-colors duration-150 ease-in text-[#171717]">
              {{ item.label }}
            </a>
            }
            } @else if (user.userType === 'vendor') {
            @for (item of vendorDropdown; track item.label) {
            <a routerLink="" (click)="closeDropdown()"
              class="px-3.5 py-1.5 text-lg rounded-lg hover:bg-[#F0E8D8] transition-colors duration-150 ease-in text-[#171717]">
              {{ item.label }}
            </a>
            }
            }
            <button
              class="text-[#C0392B] hover:bg-[#FCE8E6] transition-colors duration-150 ease-in text-left flex items-center gap-1.25 px-3.5 py-1.5 text-xl rounded-lg"
              (click)="logout()">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.39267 4.00087C4 4.61597 4 5.41166 4 7.00304V16.997C4 18.5883 4 19.384 4.39267 19.9991C4.46279 20.109 4.5414 20.2132 4.62777 20.3108C5.11144 20.8572 5.87666 21.0758 7.4071 21.513C8.9414 21.9513 9.70856 22.1704 10.264 21.8417C10.3604 21.7847 10.45 21.7171 10.5313 21.6402C11 21.1965 11 20.3988 11 18.8034V5.19662C11 3.60122 11 2.80351 10.5313 2.35982C10.45 2.28288 10.3604 2.21527 10.264 2.15827C9.70856 1.82956 8.9414 2.0487 7.4071 2.48699C5.87666 2.92418 5.11144 3.14278 4.62777 3.68925C4.5414 3.78684 4.46279 3.89103 4.39267 4.00087Z"
                  stroke="#C0392B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M11 4H13.0171C14.9188 4 15.8696 4 16.4604 4.58579C16.7898 4.91238 16.9355 5.34994 17 6M11 20H13.0171C14.9188 20 15.8696 20 16.4604 19.4142C16.7898 19.0876 16.9355 18.6501 17 18"
                  stroke="#C0392B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M21 12H14M19.5 9.49994C19.5 9.49994 22 11.3412 22 12C22 12.6588 19.5 14.4999 19.5 14.4999"
                  stroke="#C0392B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              Log Out
            </button>
          </div>
          }
        </div>
      </div>
      }
    </div>
  </div>
</section>


<div class="lg:hidden fixed inset-0 bg-black/50 z-60 opacity-0 pointer-events-none transition-opacity duration-300"
  [class.opacity-100]="isMenuOpen()" [class.pointer-events-auto]="isMenuOpen()" (click)="closeMenu()">
</div>

<div class="lg:hidden fixed top-0 left-0 h-full w-full max-w-[320px] bg-white z-70 flex flex-col
            px-5 py-5 -translate-x-full transition-transform duration-300 ease-in-out shadow-xl"
  [class.translate-x-0]="isMenuOpen()">

  <div class="flex items-center justify-between mb-5 px-3.5">
    <a routerLink="/" (click)="closeMenu()" class="logo text-[25px] transition-colors duration-300 w-fit leading-8">
      trademall
    </a>

    <button (click)="closeMenu()"
      class="transition-colors duration-150 text-gray-700 hover:text-gray-900 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-x-icon lucide-x">
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
    </button>
  </div>

  <nav class="overflow-auto">
    <ol class="flex flex-col items-start justify-start gap-5">
      @for(menuItem of menuItems; track menuItem.label){
      <li class="px-3.5 py-1">
        <a [routerLink]="menuItem.url"
          class="relative inline-block text-[17px] transition-colors duration-300 group hover:text-[#171717] text-[#374151]">
          {{menuItem.label}}
          <span
            class="absolute left-1/2 -translate-x-1/2 -bottom-1 h-0.5 w-0 group-hover:w-full transition-all duration-300 ease-out bg-[#171717]"></span>
        </a>
      </li>
      }

      @if (!isLoggedIn) {
      <li class="px-3.5 py-2 w-full">
        <a routerLink="/login"
          class="w-full block text-center text-[15px] sm:text-[16px] px-5 py-3 transition-opacity duration-150 ease-in rounded-lg bg-[#171717] text-white hover:opacity-80">
          Log In
        </a>
      </li>
      } @else {
      <li class="px-3.5 py-3 w-full border-b border-t border-[#17171733] hover:bg-gray-100">
        <button class="flex items-center justify-between gap-3 w-full cursor-pointer" (click)="toggleProfileMenu()">
          <div class="flex items-center gap-3">
            <div
              class="initials w-11 h-11 rounded-full flex items-center justify-center text-lg transition-colors duration-300 bg-[#171717] text-white">
              {{ userInitials }}
            </div>
            <div class="text-left">
              <p class="text-[16px]">{{ userName }}</p>
              <p class="text-[13px] text-[#374151]">{{ userEmail }}</p>
            </div>
          </div>

          <svg width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
            class="shrink-0 transition-transform duration-300" [class.rotate-180]="isProfileMenuOpen">
            <path d="M5 7.5L10 12.5L15 7.5" stroke="#374151" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>

        <div class="grid transition-[grid-template-rows] duration-300 ease-in-out"
          [class]="isProfileMenuOpen ? 'grid-rows-[1fr]' : 'grid-rows-[0fr]'">
          <div class="overflow-hidden">
            <ol class="flex flex-col items-start gap-3 pt-4">
              @for(profileMenuItem of profileMenuItems; track profileMenuItem.label){
              <li class="px-3.5">
                <a [routerLink]="profileMenuItem.url"
                  class="relative inline-block text-[16px] transition-colors duration-300 group hover:text-[#171717] text-[#374151]">
                  {{profileMenuItem.label}}
                  <span
                    class="absolute left-1/2 -translate-x-1/2 -bottom-1 h-0.5 w-0 group-hover:w-full transition-all duration-300 ease-out bg-[#171717]"></span>
                </a>
              </li>
              }
              <li class="w-full">
                <button
                  class="text-[#C0392B] hover:bg-[#FCE8E6] transition-colors duration-150 ease-in text-left flex items-center gap-1.25 px-3.5 py-1.5 text-[16px] rounded-lg w-full"
                  (click)="logout()">
                  <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M4.39267 4.00087C4 4.61597 4 5.41166 4 7.00304V16.997C4 18.5883 4 19.384 4.39267 19.9991C4.46279 20.109 4.5414 20.2132 4.62777 20.3108C5.11144 20.8572 5.87666 21.0758 7.4071 21.513C8.9414 21.9513 9.70856 22.1704 10.264 21.8417C10.3604 21.7847 10.45 21.7171 10.5313 21.6402C11 21.1965 11 20.3988 11 18.8034V5.19662C11 3.60122 11 2.80351 10.5313 2.35982C10.45 2.28288 10.3604 2.21527 10.264 2.15827C9.70856 1.82956 8.9414 2.0487 7.4071 2.48699C5.87666 2.92418 5.11144 3.14278 4.62777 3.68925C4.5414 3.78684 4.46279 3.89103 4.39267 4.00087Z"
                      stroke="#C0392B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M11 4H13.0171C14.9188 4 15.8696 4 16.4604 4.58579C16.7898 4.91238 16.9355 5.34994 17 6M11 20H13.0171C14.9188 20 15.8696 20 16.4604 19.4142C16.7898 19.0876 16.9355 18.6501 17 18"
                      stroke="#C0392B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M21 12H14M19.5 9.49994C19.5 9.49994 22 11.3412 22 12C22 12.6588 19.5 14.4999 19.5 14.4999"
                      stroke="#C0392B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  Log Out
                </button>
              </li>
            </ol>
          </div>
        </div>
      </li>
      }
    </ol>
  </nav>

  <div class="absolute bottom-4 left-1/2 -translate-x-1/2 whitespace-nowrap">
    <span class="text-[#7b6280] text-xs">
      © 2026 Trademall | All rights reserved
    </span>
  </div>
</div>

@if (isModalOpen()) {
<div
  class="fixed inset-0 lg:hidden z-50 flex items-start justify-center pt-24 transition-colors duration-200 ease-in-out"
  [class]="isModalVisible ? 'bg-black/50' : 'bg-black/0'" (click)="closeModal()">
  <div class="bg-white rounded-lg max-w-2xl w-full mx-4 p-6 transition-all duration-200 ease-in-out"
    [class]="isModalVisible ? 'opacity-100 scale-100 translate-y-0' : 'opacity-0 scale-95 -translate-y-2'"
    (click)="$event.stopPropagation()">
    <div class="flex items-center justify-between mb-4">
      <h2 class="text-xl products-font text-[#111827]">Search Products</h2>
      <div class="text-gray-500 hover:text-gray-700 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" (click)="closeModal()" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-x-icon lucide-x">
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </div>
    </div>
    <form class="relative">
      <input #searchInput type="text" placeholder="Search for products..."
        class="w-full px-4 py-3 pr-12 border border-gray-300 rounded-lg" />

      <button type="submit"
        class="absolute right-2 top-1/2 -translate-y-1/2 w-10 h-10 flex items-center justify-center text-emerald-700 hover:text-emerald-900">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-search-icon lucide-search absolute left-3 top-1/2 -translate-y-1/2">
          <path d="m21 21-4.34-4.34" />
          <circle cx="11" cy="11" r="8" />
        </svg></button>
    </form>
  </div>
</div>
}