<div class="max-w-350 mx-auto">
  <app-header />

  @if (categories.length > 0 && !isLoading()) {
    <section
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 my-15 gap-5 px-5 md:px-12 2xl:px-0"
      [@staggerProducts]="categories.length"
    >
      @for (category of categories; track category._id) {
        <div
          [style.backgroundImage]="'url(' + category.image + ')'"
          class="relative w-full bg-cover bg-center rounded-2xl py-6 sm:py-7.5 px-5 sm:px-10 text-white flex flex-col hover:scale-105 transition-transform duration-300"
        >
          <div
            class="absolute inset-0 bg-linear-to-r from-black/80 via-black/50 to-transparent rounded-2xl"
          ></div>
          <div class="relative z-10 flex flex-col items-start h-full">
            <h1 class="text-4xl light-header mb-3.75">{{ category.name }}</h1>
            <p class="text-[15px] mb-6.25">{{ category.description }}</p>
            <a
              class="text-[20px] bg-white hover:opacity-80 transition-opacity duration-150 ease-in px-3.75 py-2 text-[#171717] rounded-lg"
              [routerLink]="['/categories', category.slug]"
            >
              Explore
            </a>
          </div>
        </div>
      }
    </section>
  } @else if (isLoading()) {
    <app-skeleton-loader skeletonType="categories" />
  }
</div>

<app-footer />
