<nav class="flex items-center gap-3 text-[#17171780] text-lg">
  <button
    (click)="goBack()"
    class="hover:text-[#171717] hover:scale-105 transition-transform duration-300 ease-in"
  >
    <svg
      width="30"
      height="30"
      viewBox="0 0 30 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class=""
    >
      <path
        d="M18.7499 7.49976C18.7499 7.49976 11.25 13.0234 11.25 14.9998C11.25 16.9762 18.75 22.4998 18.75 22.4998"
        stroke="#171717"
        stroke-width="1.875"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>

  @if (categoryName()) {
    <a
      [routerLink]="['/categories', categorySlug()]"
      class="hover:text-[#171717] transition-colors duration-150"
    >
      {{ categoryName() }}
    </a>
  }

  @if (subCategoryName()) {
    <span>›</span>
    <a
      [routerLink]="['/categories', categorySlug()]"
      [state]="{ filter: subCategorySlug() }"
      class="hover:text-[#171717] transition-colors duration-150"
    >
      {{ subCategoryName() }}
    </a>
  }

  @if (productName()) {
    <span>›</span>
    <span class="text-[#171717]">{{ productName() }}</span>
  }
</nav>
