.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #2e790e;
  color: white;
  padding: 20px 0;
}

.marquee-track {
  display: flex;
}

.marquee-content {
  display: inline-block;
  flex-shrink: 0;
  animation: scrollText 8s linear infinite;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (min-width: 640px) {
  .marquee-content {
    animation-duration: 10s;
  }
  .marquee-container {
    padding: 45px 0;
  }
}

@media (min-width: 1024px) {
  .marquee-content {
    animation-duration: 15s;
  }
}
