@import 'tailwindcss';

@font-face {
  font-family: 'Bebas Neue';
  src: url('/assets/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/assets/fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/assets/fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', sans-serif;
}

p,
span,
button,
a,
.initials,
::placeholder {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 400;
}

.logo {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 700;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed !important;
  pointer-events: auto !important;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2e790e5d;
  border-color: #2e790e9b;
  transition:
    border-color 0.24s ease-in-out,
    box-shadow 0.24s ease-in-out;
}

.loader {
  width: 20px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #ffff) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}

.stepper {
  display: flex;
  flex-direction: column;
  width: full;
}

.step {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #aaaaaa;
  transition: color 0.4s ease;
}

.step.active {
  color: #2e790e;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #aaaaaa;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: background 0.4s ease;
}

.step.active .circle {
  background: #2e790e;
}

.line {
  width: 2px;
  height: 50px;
  background: #171717;
  opacity: 0.4;
  margin-left: 19px;
  margin-block: 5px;
}

.otp-input {
  max-width: 85px;
  width: 100%;
  height: 75px;
  text-align: center;
  font-size: 24px;
  background-color: #f5f5f5;
  border-radius: 6px;
  text-align: center;
  caret-color: black;
}

.otp-input::-webkit-outer-spin-button,
.otp-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px) {
  .stepper {
    flex-direction: row;
    justify-content: center;
  }

  .step {
    flex-direction: column;
    gap: 7px;
    align-items: center;
  }

  .circle {
    width: 39px;
    height: 39px;
    font-size: 15px;
  }

  .line {
    width: 40px;
    height: 2px;
    margin: 0;
    margin-top: 20px;
  }

  .otp-input {
    max-width: 70px;
    height: 65px;
  }
}
