.custom-checkbox input {
  display: none;
}

.checkmark {
  width: 23px;
  height: 23px;
  background-color: #2e790e;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

.checkmark path {
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.custom-checkbox input:not(:checked) + .checkmark {
  background-color: transparent;
  border: 2px solid #171717;
}

.custom-checkbox input:not(:checked) + .checkmark svg {
  display: none;
}
